# Entorno y Secretos
.env
.env.local

# Python generales
__pycache__/
*.py[cod]
.class
.venv/
venv/
ENV/

# Archivos de datos pesados (Para que no intente subir tus CSVs de 122k filas)
*.csv
*.jsonl
data/

# Carpetas del sistema o editores
.ipynb_checkpoints/
.vscode/

# librerias
.txt